@model BookLoan

<h2>Bekräfta lån</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookId" class="control-label">Välj en bok:</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId">
                    <option value="">Välj en bok</option>
                </select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@* <div>
    <h4>Bokinformation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Titel
        </dt>
        <dt class="col-sm-3">
            Författare
        </dt>
        <dt class="col-sm-3">
            Genre
        </dt>
        <dd class="col-sm-3">
            @Model.Book.BookName
        </dd>
        <dd class="col-sm-3">
            @Model.Book.Author
        </dd>
        <dd class="col-sm-3">
            @Model.Book.Genre
        </dd>
        <!-- Lägg till andra detaljer om boken här, t.ex. författare, utgivningsår, etc. -->
    </dl>
</div>

<div>
    <h4>Lånevillkor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Lånetid
        </dt>
        <dd class="col-sm-10">
            30 dagar
        </dd>
    </dl>
</div> *@

@* <form asp-action="Create">
    <div class="form-group">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" asp-for="CustomerId" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Bekräfta lån</button>
        <a asp-controller="Books" asp-action="Index" class="btn btn-secondary">Avbryt</a>
    </div>
</form> *@