@model List<BookLoan>

<h1>Mina lån</h1>

@if (Model.Count == 0)
{
    <p>Du har inga lån för närvarande.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Utlåningsdatum</th>
                <th>Sista återlämningsdatum</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>
                    <td>@loan.Book.BookName</td>
                    <td>@loan.LoanDate.ToShortDateString()</td>
                    <td>@loan.LastLoanDate.ToShortDateString()</td>
                    <td>@loan.LoanStatus.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}