@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex justify-content-center align-items-center m-5">
    <div class="align-content-center">
<h1>E som i ekologisk</h1>
<div class=" w-50">
<p>
    Hos E-library tar vi vårt gröna engagemang på allvar, och vi är stolta över att kunna erbjuda E-böcker som en del av vår hållbarhetsstrategi.
    Varför? För att vi inte bara älskar böcker, utan vi älskar också vår planet!

    Med våra E-böcker behöver du inte längre göra plats i bokhyllan eller släpa runt på tunga böcker.
    Istället kan du bära med dig hela biblioteket i fickan och rädda både din rygg och regnskogarna samtidigt!

    Vi vet att det finns många sätt att vara miljövänlig, och genom att välja E-böcker bidrar du till att minska pappersförbrukningen,
    koldioxidutsläppen och röran i ditt hem. Dessutom får du en upplevelse som är lika härlig som doften av en ny bok, fast utan att behöva
    hysa en hel bokhandel i ditt vardagsrum!

    Så varför inte göra både din läsning och din planet en tjänst? Välj E-böcker från E-library och bli en del av vår gröna bokrevolution idag!
</p>
</div>
</div>
</div>
