@model IEnumerable<string>
<br />
<h1 class="m-3">Genrer</h1>


<div class="btn-group" role="group" aria-label="Genrer">
    @foreach (var genre in Model)
    {
        <div class="m-5">
        <a href="@Url.Action("BooksByGenre", "Books", new { genre = genre })" class="btn btn-primary w-150">@genre</a>
        </div>
    }
</div>